
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
body{
    margin: 0;
    padding: 25px;
    background: linear-gradient(-45deg, #00feba, #538ee7, #6bcb9b, #b86cff);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}
.card{
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather{
    margin-top: 50px;
    display: none;
}
.weather-icon{
    width: 20%;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 580px) {
     .weather-icon{
    width: 60%;
    margin-top: 30px;

  }
}
@media screen and (max-width: 1080px) {
     .weather-icon{
    width: 45%;
    margin-top: 30px;

  }
}